EXPO_PUBLIC_API_BASE_URL=https://ostrackerservice-production.up.railway.app
EXPO_PUBLIC_APP_ENV=prod
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=599414887851-7s87kkpqbm5vm3e3a8hktme6lsb31di0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=599414887851-k8soubojht11jtlj5jd8879eqjci8t3g.apps.googleusercontent.com
